@import "../../global.scss";
li {
  font-size: 1.2em;
  margin-right: 1.5rem;
  padding: 0.5rem 1.8rem;
  border-radius: 8rem;
  cursor: pointer;
  color: white;
  z-index: 2;
  @include mobile {
    font-size: 1em;
  }

  &.active {
    background-color: orange;
    color: white;
    // padding-bottom: -10px;
  }
}
