@import "../../global.scss";
.contact {
  background-color: black;
  padding-top: 12rem;
  color: white;
  display: flex;
  justify-content: center;
  @include mobile {
    padding-top: 6rem;
  }

  .line {
    position: absolute;
    h1 {
      text-align: center;
    }
  }
  .underline {
    height: 0.3rem;
    width: 2rem;
    background-color: orange;
    margin-top: 0.5rem;
  }

  .container {
    // background-color: white;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
    height: 60%;
    @include mobile {
      flex-direction: column;
      margin-top: 6rem;
      h1 {
        display: none;
      }
    }

    .form {
      width: 310px;
      height: 450px;
      background: #e6e6e6;
      border-radius: 8px;
      box-shadow: 0 0 40px -10px #000;
      margin: calc(50vh - 220px) auto;
      padding: 3px 30px;
      max-width: calc(100vw - 40px);
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      // position: relative;
      .out-message {
        color: green;
        text-align: center;
      }
    }
    h2 {
      margin: 20px 0 0 50px;
      padding-bottom: 10px;
      width: 180px;
      color: #78788c;

      border-bottom: 3px solid #78788c;
    }
    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: "Montserrat", sans-serif;
      transition: all 0.3s;
      border-bottom: 2px solid #bebed2;
    }
    input:focus {
      border-bottom: 2px solid #78788c;
    }
    p:before {
      content: attr(type);
      display: block;
      margin: 28px 0 0;
      font-size: 14px;
      color: #5a5a5a;
    }
    button {
      float: right;
      padding: 8px 12px;
      margin: 8px 0 0;
      font-family: "Montserrat", sans-serif;
      border: 2px solid #78788c;
      background: 0;
      color: #5a5a6e;
      cursor: pointer;
      transition: all 0.3s;
    }
    button:hover {
      background: #78788c;
      color: #fff;
    }
  }
}
